---
import BidsPosts from "./interactive/BidsPosts.astro"
---

<section class="py-24 bg-black relative" id="bids">
	<!--decoration of background -->
	<div class="absolute bottom-0 left-0 w-full bg-white md:py-42 py-32"></div>
	<div class="container px-4 mx-auto relative">
		<!--Bids Here-->
		<BidsPosts />
	</div>
</section>
