---
import socials from "../data/social.json"
import settings from "../data/settings.json"
import { Icon } from "astro-icon/components"
---

<section class="py-24">
	<div class="container px-4 mx-auto">
		<div class="flex flex-wrap -mx-4 mb-10 justify-between">
			<div class="w-full md:w-1/5 px-4 mb-6 md:mb-0">
				<a class="inline-block" href="#home" aria-label="back to top">
					<Icon name="KRBsvg" class="w-12 h-12" />
				</a>
			</div>
			<div class="w-full md:w-3/5 px-4 mb-6 md:mb-0">
				<ul class="md:flex items-center justify-center">
					<li class="mb-6 md:mb-0 md:mr-12"><a class="inline-block font-bold text-sm hover:text-gray-900" aria-label="back to top" href="#home">Home</a></li>
					<li class="mb-6 md:mb-0 md:mr-12"><a class="inline-block font-bold text-sm hover:text-gray-900" aria-label="to about section" href="#about">About</a></li>
					<li class="mb-6 md:mb-0 md:mr-12"><a class="inline-block font-bold text-sm hover:text-gray-900" aria-label="to bids section" href="#bids">Bids</a></li>
					<li><a class="inline-block font-bold text-sm hover:text-gray-900" aria-label="to contact section" href="#contact">Contact</a></li>
				</ul>
			</div>
			<div class="w-full md:w-1/5 px-4">
				<div class="flex md:justify-end">
					<a href={socials.facebook}><Icon name="facebook(24x24)" class="inline-block size-8" aria-label="facebook icon" /></a>
					<a href={socials.instagram}><Icon name="instagram(24x24)" class="inline-block size-8" aria-label="instagram icon" /></a>
					<a href={socials.linkedin}><Icon name="linkedin(24x24)" class="inline-block size-8" aria-label="linkedin icon" /></a>
				</div>
			</div>
		</div>
		<p class="text-sm text-gray-500 text-center">© KRB Development. 2025 All right reserved.</p>
	</div>
	<div class="ThirdPartyScripts">{settings.thirdPartyScripts}</div>
</section>
